<nz-layout class="layout">
  <ul nz-menu [nzMode]="'horizontal'" style="font-size: 110%;">
    <div style="float: left; margin-left: 1em; font-size: 150%">
      <img src="favicon.ico">
      <span style="margin-left: 1em">HiPrice</span>
    </div>

    <li nz-submenu style="margin-left: 4em;">
      <span title><i class="anticon anticon-home"></i>首页</span>
      <ul>
        <li nz-menu-item>监控</li>
        <li nz-menu-item>分析</li>
        <li nz-menu-item routerLink="bot">机器人</li>
      </ul>
    </li>

    <li nz-submenu style="margin-left: 1em;">
      <span title><i class="anticon anticon-table"></i>数据</span>
      <ul>
        <li nz-menu-item>用户</li>
        <li nz-menu-item>商品</li>
        <li nz-menu-item>消息</li>
      </ul>
    </li>

    <li nz-submenu style="margin-left: 1em;">
      <span title><i class="anticon anticon-code-o"></i>爬虫</span>
      <ul>
        <li nz-menu-item>配置</li>
        <li nz-menu-item>规则</li>
      </ul>
    </li>

    <li nz-submenu style="margin-left: 1em;">
      <span title><i class="anticon anticon-taobao"></i>淘客</span>
      <ul>
        <li nz-menu-item>预留</li>
      </ul>
    </li>
  </ul>

  <nz-content style="margin: 1em">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
